@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --branco-principal: #ffffff;
  --cinza-secund치rio: #c0c0c0;
  --button-blue: #167bf7;
  --cor-de-fundo: #00030c;
  --active-purple: #635985;
  --button-hover: #85cdfd;

  --fonte-principal: "Inter", sans-serif;
  font-size: 62.5%;
}

.body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.cabecalho {
  background-image: url("./assets/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__caixa {
  margin: 0 9.6rem;
}

.container__titulo {
  font-size: 2.8rem;
  font-weight: 700;
}

.container__imagem {
  margin: 1.6rem 0 3.2rem 0;
}

.container__botao {
  background-color: var(--button-blue);
  border-radius: 0.5rem;
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;
}

.botao__secundario {
  background-color: transparent;
  border: 0.1rem solid var(--branco-principal);
}

.container__aviso {
  font-size: 1.2rem;
  color: var(--cinza-secund치rio);
}

.container__principal {
  align-items: center;
  margin: 0 16rem;
}

.principal__descricao {
  padding: 3.2rem;
}

.principal__imagem {
  width: 80%;
}

.principal__botao {
  display: inline-block;
  margin-top: 1.6rem;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 4.8rem;
  margin-bottom: 0.8rem;
}

.descricao__texto {
  color: var(--cinza-secund치rio);
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 4.8rem;
  color: var(--branco-principal);
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 8rem 0;
}

.list__item {
  font-size: 3.2rem;
  color: var(--branco-principal);
}

.rodape {
  text-align: center;
  margin: 0rem 4.8rem;
}

.rodape__logo {
  margin-bottom: 1.6rem;
}

.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-top: 1.6rem;
}

.lista__link a {
  text-decoration: none;
  color: var(--branco-principal);
  margin-left: 1.6rem;
}

.rodape__texto {
  margin: 1.6rem 0;
  font-size: 1.4rem;
  color: var(--cinza-secund치rio);
}

.lista__link a:hover {
  color: var(--button-blue);
  transition: 0.25s;
}

.lista__link a:active {
  color: var(--active-purple);
  transition: 0.25s;
}

.container__botao:hover {
  background-color: var(--button-hover);
  color: var(--cor-de-fundo);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-image: none;
  }

  .container__imagem {
    padding-top: 1rem;
    width: 50vw;
  }

  .container__caixa {
    margin: 3.2rem 3.2rem;
  }

  .container__principal {
    margin: 0;
  }

  .principal__imagem {
    width: 50vw;
  }

  .dispositivos__titulo {
    font-size: 3.2rem;
  }

  .dispositivos__lista {
    display: flex;
    flex-direction: column;
  }

  .rodape__lista {
    display: flex;
    flex-direction: column;
  }
}
